<header class="header">
    <div class="logo-container">
        <a href="/#" class="logo">
            <svg class="logo-displayed" id="Capa_5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.694 55.616">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #e8e7e7;
                        }
                    </style>
                </defs>
                <g id="Capa_2" data-name="Capa 2">
                    <g id="Capa_1-2" data-name="Capa 1">
                        <path class="cls-1"
                            d="M4.575,0h44.33A4.576,4.576,0,0,1,52.14,1.34l4.02,4.02A4.576,4.576,0,0,1,57.5,8.6V26.946a4.574,4.574,0,0,1-1.351,3.246L31.9,54.287a4.576,4.576,0,0,1-6.459-.011l-8.421-8.421a4.574,4.574,0,0,1,0-6.47L30.944,25.456a4.575,4.575,0,0,1,1.515-1l10.23-4.15a1.7,1.7,0,0,0,.933-2.22h0a1.7,1.7,0,0,0-2.186-.939l-9.039,3.5a4.576,4.576,0,0,1-1.652.309H4.575A4.575,4.575,0,0,1,0,16.375V4.575A4.575,4.575,0,0,1,4.575,0Z" />
                        <path class="cls-1"
                            d="M113.119,55.616H68.788a4.573,4.573,0,0,1-3.234-1.34l-4.021-4.02a4.579,4.579,0,0,1-1.339-3.235V28.669a4.576,4.576,0,0,1,1.35-3.245L85.8,1.329a4.576,4.576,0,0,1,6.459.011l8.421,8.421a4.576,4.576,0,0,1,0,6.47L86.749,30.16a4.572,4.572,0,0,1-1.515,1l-10.229,4.15a1.7,1.7,0,0,0-.934,2.22h0a1.7,1.7,0,0,0,2.186.94l9.039-3.5a4.575,4.575,0,0,1,1.652-.308h26.171a4.575,4.575,0,0,1,4.575,4.574v11.8A4.575,4.575,0,0,1,113.119,55.616Z" />
                    </g>
                </g>
            </svg>


            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.694 55.616">
                <g>
                    <path fill="#e8e7e7"
                        d="M4.575,0h44.33A4.576,4.576,0,0,1,52.14,1.34l4.02,4.02A4.576,4.576,0,0,1,57.5,8.6V26.946a4.574,4.574,0,0,1-1.351,3.246L31.9,54.287a4.576,4.576,0,0,1-6.459-.011l-8.421-8.421a4.574,4.574,0,0,1,0-6.47L30.944,25.456a4.575,4.575,0,0,1,1.515-1l10.23-4.15a1.7,1.7,0,0,0,.933-2.22h0a1.7,1.7,0,0,0-2.186-.939l-9.039,3.5a4.576,4.576,0,0,1-1.652.309H4.575A4.575,4.575,0,0,1,0,16.375V4.575A4.575,4.575,0,0,1,4.575,0Z" />
                    <path fill="#8350e8"
                        d="M113.119,55.616H68.788a4.573,4.573,0,0,1-3.234-1.34l-4.021-4.02a4.579,4.579,0,0,1-1.339-3.235V28.669a4.576,4.576,0,0,1,1.35-3.245L85.8,1.329a4.576,4.576,0,0,1,6.459.011l8.421,8.421a4.576,4.576,0,0,1,0,6.47L86.749,30.16a4.572,4.572,0,0,1-1.515,1l-10.229,4.15a1.7,1.7,0,0,0-.934,2.22h0a1.7,1.7,0,0,0,2.186.94l9.039-3.5a4.575,4.575,0,0,1,1.652-.308h26.171a4.575,4.575,0,0,1,4.575,4.574v11.8A4.575,4.575,0,0,1,113.119,55.616Z" />
                </g>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.694 55.616">
                <g>
                    <path fill="#e8e7e7"
                        d="M4.575,0h44.33A4.576,4.576,0,0,1,52.14,1.34l4.02,4.02A4.576,4.576,0,0,1,57.5,8.6V26.946a4.574,4.574,0,0,1-1.351,3.246L31.9,54.287a4.576,4.576,0,0,1-6.459-.011l-8.421-8.421a4.574,4.574,0,0,1,0-6.47L30.944,25.456a4.575,4.575,0,0,1,1.515-1l10.23-4.15a1.7,1.7,0,0,0,.933-2.22h0a1.7,1.7,0,0,0-2.186-.939l-9.039,3.5a4.576,4.576,0,0,1-1.652.309H4.575A4.575,4.575,0,0,1,0,16.375V4.575A4.575,4.575,0,0,1,4.575,0Z" />
                    <path fill="#e87950"
                        d="M113.119,55.616H68.788a4.573,4.573,0,0,1-3.234-1.34l-4.021-4.02a4.579,4.579,0,0,1-1.339-3.235V28.669a4.576,4.576,0,0,1,1.35-3.245L85.8,1.329a4.576,4.576,0,0,1,6.459.011l8.421,8.421a4.576,4.576,0,0,1,0,6.47L86.749,30.16a4.572,4.572,0,0,1-1.515,1l-10.229,4.15a1.7,1.7,0,0,0-.934,2.22h0a1.7,1.7,0,0,0,2.186.94l9.039-3.5a4.575,4.575,0,0,1,1.652-.308h26.171a4.575,4.575,0,0,1,4.575,4.574v11.8A4.575,4.575,0,0,1,113.119,55.616Z" />
                </g>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.694 55.616">
                <g>
                    <path fill="#e8e7e7"
                        d="M4.575,0h44.33A4.576,4.576,0,0,1,52.14,1.34l4.02,4.02A4.576,4.576,0,0,1,57.5,8.6V26.946a4.574,4.574,0,0,1-1.351,3.246L31.9,54.287a4.576,4.576,0,0,1-6.459-.011l-8.421-8.421a4.574,4.574,0,0,1,0-6.47L30.944,25.456a4.575,4.575,0,0,1,1.515-1l10.23-4.15a1.7,1.7,0,0,0,.933-2.22h0a1.7,1.7,0,0,0-2.186-.939l-9.039,3.5a4.576,4.576,0,0,1-1.652.309H4.575A4.575,4.575,0,0,1,0,16.375V4.575A4.575,4.575,0,0,1,4.575,0Z" />
                    <path fill="#57eeff"
                        d="M113.119,55.616H68.788a4.573,4.573,0,0,1-3.234-1.34l-4.021-4.02a4.579,4.579,0,0,1-1.339-3.235V28.669a4.576,4.576,0,0,1,1.35-3.245L85.8,1.329a4.576,4.576,0,0,1,6.459.011l8.421,8.421a4.576,4.576,0,0,1,0,6.47L86.749,30.16a4.572,4.572,0,0,1-1.515,1l-10.229,4.15a1.7,1.7,0,0,0-.934,2.22h0a1.7,1.7,0,0,0,2.186.94l9.039-3.5a4.575,4.575,0,0,1,1.652-.308h26.171a4.575,4.575,0,0,1,4.575,4.574v11.8A4.575,4.575,0,0,1,113.119,55.616Z" />
                </g>
            </svg>


            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.694 55.616">
                <g>
                    <path fill="#e8e7e7"
                        d="M4.575,0h44.33A4.576,4.576,0,0,1,52.14,1.34l4.02,4.02A4.576,4.576,0,0,1,57.5,8.6V26.946a4.574,4.574,0,0,1-1.351,3.246L31.9,54.287a4.576,4.576,0,0,1-6.459-.011l-8.421-8.421a4.574,4.574,0,0,1,0-6.47L30.944,25.456a4.575,4.575,0,0,1,1.515-1l10.23-4.15a1.7,1.7,0,0,0,.933-2.22h0a1.7,1.7,0,0,0-2.186-.939l-9.039,3.5a4.576,4.576,0,0,1-1.652.309H4.575A4.575,4.575,0,0,1,0,16.375V4.575A4.575,4.575,0,0,1,4.575,0Z" />
                    <path fill="#5062e8"
                        d="M113.119,55.616H68.788a4.573,4.573,0,0,1-3.234-1.34l-4.021-4.02a4.579,4.579,0,0,1-1.339-3.235V28.669a4.576,4.576,0,0,1,1.35-3.245L85.8,1.329a4.576,4.576,0,0,1,6.459.011l8.421,8.421a4.576,4.576,0,0,1,0,6.47L86.749,30.16a4.572,4.572,0,0,1-1.515,1l-10.229,4.15a1.7,1.7,0,0,0-.934,2.22h0a1.7,1.7,0,0,0,2.186.94l9.039-3.5a4.575,4.575,0,0,1,1.652-.308h26.171a4.575,4.575,0,0,1,4.575,4.574v11.8A4.575,4.575,0,0,1,113.119,55.616Z" />
                </g>
            </svg>

        </a>
    </div>

    <nav class="navbar">
        <a href="#AboutMe" id="aboutMeAnchor" data-replace="{{ language.aboutMeTitle }}"><span>{{ language.aboutMeTitle
                }}</span></a>
        <a href="#Work" id="workAnchor" data-replace="{{language.workTitle}}"><span>{{language.workTitle}}</span></a>
        <a href="#WhatIDo" id="whatIDoAnchor" data-replace="{{ language.whatIDoTitle }}"><span>{{ language.whatIDoTitle
                }}</span></a>
        <a href="#Contact" id="contactAnchor"
            data-replace="{{language.contactTitle}}"><span>{{language.contactTitle}}</span></a>
    </nav>

    <div class="socials">
        <a href="https://www.linkedin.com/in/juan-cruz-bolatti/" target="_blank">In</a>
        <a href="https://www.instagram.com/juanc.dev/" target="_blank">Ig</a>
    </div>

    <div class="corner">
        <div class="corner-lenguages corner-displayed">
            <a href="/?lang=es">ES</a>
            <a href="/?lang=en">EN</a>
            <a href="/?lang=it">IT</a>
        </div>

        <div>
            <a href="https://maps.app.goo.gl/mSpits3VLfZZrgqBA" target="_blank">ARGENTINA // 34° 36&apos; 13.3&ldquo; S
                58° 22&apos; 53.8&ldquo; W</a>
        </div>

        <div>
            <a href="/presentation/juancruz">{{language.corner.visit}} // Juan Cruz Bolatti</a>
        </div>

        <div>
            <a href="/#Contact">:) // Juan Cruz Bolatti</a>
        </div>

        <div>
            <p>{{language.corner.rights}} // Juan Cruz Bolatti</p>
        </div>


    </div>
</header>