<section class="container home" id="Home">
    <p>Juan Cruz Bolatti</p>
    <div>
        <h1>{{ language.pageTitle }}</h1>
    </div>
    <a href="#AboutMe">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 956.77 434.63">
            <defs>
                <style>
                    .cls-1 {
                        fill: #fff;
                    }
                </style>
            </defs>
            <g id="Capa_2" data-name="Capa 2">
                <path class="cls-1"
                    d="M404.8,253.28l73.58,73.58,73.58-73.58L805.24,0H956.77L554.15,402.62l-.02-.02a105.576,105.576,0,0,1-151.49,0l-.02.02L0,0H151.52Z" />
            </g>
        </svg>
    </a>
</section>

<section class="about" id="AboutMe">
    <h2 class="container">{{ language.aboutMeTitle }}</h2>

    <div class="container grid-container about-content">

        <div class="column">
            <div class="card">
                <p> {{ language.about.main }} </p>
            </div>

            <div class="card card-button display-pc-flex">
                <a href="#Contact">{{ language.contactTitle }}</a>
                <a href="#">IN</a>
                <a href="#">IG</a>
                <a href="#">X</a>
                <a href="#">CV</a>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h4 class="subtitle">{{ language.about.study }}</h4>
                <p>{{ language.about.studyText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.about.art }}</h4>
                <p>{{ language.about.artText }}</p>
            </div>
        </div>

        <div class="column">
            <div class="about-image">
                <h4>Juan Cruz <br><span>Bolatti Torcasio</span></h4>
                <img src="/img/yo.png" alt="">
            </div>
        </div>

    </div>
</section>

<section class="container what-i-do" id="WhatIDo">
    <h2>{{ language.whatIDoTitle }}</h2>

    <div class="what-i-do-content">

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.development }}</h4>
                <p>{{ language.whatIDo.developmentMainText }}</p>
                <h5>1. {{ language.whatIDo.interview }}</h5>
                <p>{{ language.whatIDo.interviewText }}</p>
                <h5>2. {{ language.whatIDo.desing }}</h5>
                <p>{{ language.whatIDo.designText }}</p>
                <h5>3. {{ language.whatIDo.resource }}</h5>
                <p>{{ language.whatIDo.resourceText }}</p>
                <h5>4. {{ language.whatIDo.development }}</h5>
                <p>{{ language.whatIDo.developmentText }}</p>
                <h5>5. {{ language.whatIDo.publication }}</h5>
                <p>{{ language.whatIDo.publicationText }}</p>
                <h5>6. {{ language.whatIDo.maintenance }}</h5>
                <p>{{ language.whatIDo.maintenanceText }}</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.desing }}</h4>
                <p>{{ language.whatIDo.designMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.brand }}</h4>
                <p>{{ language.whatIDo.brandMainText }}</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.image }}</h4>
                <p>{{ language.whatIDo.imageMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.drafting }}</h4>
                <p>{{ language.whatIDo.draftingMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.animation }}</h4>
                <p>{{ language.whatIDo.animationMainText }}</p>
            </div>
        </div>

    </div>
</section>

<section class="container knowledge">
    <h2>{{ language.knowledgeTitle }}</h2>

    <div class="knowledge-content">
        <div class="card knowledge-card">
            <h4 class="subtitle">{{language.whatIDo.desing}} {{language.and}} {{language.whatIDo.production}}</h4>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/01.png" alt="">
                    </div>

                    <p>Photoshop</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/02.png" alt="">
                    </div>

                    <p>Illustrator</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/03.png" alt="">
                    </div>

                    <p>Fable (Animation)</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/04.png" alt="">
                    </div>

                    <p>DaVinciResolve</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/05.png" alt="">
                    </div>

                    <p>Audacity</p>
                </li>

            </ul>

            <h5>{{language.whatIDo.basic}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/06.png" alt="">
                    </div>

                    <p>Premiere</p>
                </li>


                <li>
                    <div>
                        <img src="/img/icons/07.png" alt="">
                    </div>

                    <p>After Effects</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/08.png" alt="">
                    </div>

                    <p>Fusion360</p>
                </li>
            </ul>

            <h5>{{language.whatIDo.learning}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/09.png" alt="">
                    </div>

                    <p>InDesign</p>
                </li>
            </ul>
        </div>

        <div class="card knowledge-card" id="knowledge-card-color-blue">
            <h4 class="subtitle"> {{ language.pageTitle }}</h4>

            <ul>

                <li>
                    <div>
                        <img src="/img/icons/10.png" alt="">
                    </div>

                    <p>Javascript</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/11.png" alt="">
                    </div>

                    <p>Node.js</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/12.png" alt="">
                    </div>

                    <p>Express</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/13.png" alt="">
                    </div>

                    <p>Handlebars</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/14.png" alt="">
                    </div>

                    <p>SCSS</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/15.png" alt="">
                    </div>

                    <p>Lottie.js</p>
                </li>

            </ul>

            <h5>{{language.whatIDo.basic}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/16.png" alt="">
                    </div>

                    <p>MongoDB</p>
                </li>
            </ul>

            <h5>{{language.whatIDo.learning}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/17.png" alt="">
                    </div>

                    <p>React</p>
                </li>
            </ul>
        </div>

        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="card knowledge-card" id="knowledge-card-color-green">
                <h4 class="subtitle">{{language.whatIDo.programming}} {{language.and}} {{language.whatIDo.tech}}</h4>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/18.png" alt="">
                        </div>

                        <p>Github</p>
                    </li>

                    <li>
                        <div>
                            <img src="/img/icons/19.png" alt="">
                        </div>

                        <p>Linux // Ubuntu</p>
                    </li>
                </ul>

                <h5>{{language.whatIDo.basic}}</h5>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/20.png" alt="">
                        </div>

                        <p>C // C++</p>
                    </li>
                </ul>

                <h5>{{language.whatIDo.learning}}</h5>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/21.png" alt="">
                        </div>

                        <p>Golang</p>
                    </li>
                </ul>
            </div>

            <div class="card knowledge-card display-pc" id="knowledge-card-color-red">
                <h4 class="subtitle">{{language.whatIDo.others}}</h4>

                <h5>{{language.whatIDo.basic}}</h5>
                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/22.png" alt="">
                        </div>

                        <p>Haskell</p>
                    </li>

                    <li>
                        <div>
                            <img src="/img/icons/23.png" alt="">
                        </div>

                        <p>Prolog</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="container work" id="Work">
    <h2>{{ language.workTitle }}</h2>

    <div class="work-content">

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Moldemat</h4>
                <p>{{ language.work.description01 }}</p>
                <a href="#">{{ language.work.visit }}</a>
            </div>
            <img src="/img/web01.png" alt="">
        </div>

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>{{language.whatIDo.others}}</h4>
                <p>{{ language.work.description02 }}</p>
            </div>
            <img src="/img/web02.png" alt="#">
        </div>

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Maru</h4>
                <p>{{ language.work.description03 }}</p>
                <a href="#">{{ language.work.visit }}</a>
            </div>
            <img src="/img/web02.png" alt="">
        </div>

        <div class="work-card-small">
            <h4>{{ language.work.smallCardTitle01 }}</h4>
            <p>{{ language.work.smallCardText01 }}</p>
        </div>

        <div class="work-card-small">
            <h4>{{ language.work.smallCardTitle02 }}</h4>
            <p>{{ language.work.smallCardText02 }}</p>
        </div>

        <div class="work-card-small">
            <h4>{{ language.work.smallCardTitle03 }}</h4>
            <p>{{ language.work.smallCardText03 }}</p>
        </div>

    </div>
</section>

<footer class="contact" id="Contact">
    <h2 class="container">{{ language.contactTitle }}</h2>
    <div class="contact-content">
        <div>
            <a href="#" id="anchor-ig">Instagram</a>
            <a href="#" id="anchor-tw">X // Twitter</a>
            <a href="#" id="anchor-yt">Youtube</a>
            <a href="#" id="anchor-fb">Facebook</a>
        </div>

        <div>
            <a href="#" id="anchor-li">LinkedIn</a>
            <a href="#" id="anchor-cp">CodePen</a>
            <a href="#" id="anchor-gh">Github</a>
        </div>

        <div>
            <p>Email:</p>
            <a href="#">juancruzbolatti.t@gmail.com</a>
        </div>
    </div>
</footer>