<section class="container home" id="Home">
    <p>Juan Cruz Bolatti</p>
    <div>
        <h1>
            {{{ language.title }}}
        </h1>
    </div>
    <a href="#AboutMe">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 956.77 434.63">
            <defs>
                <style>
                    .cls-1 {
                        fill: #fff;
                    }
                </style>
            </defs>
            <g id="Capa_2" data-name="Capa 2">
                <path class="cls-1"
                    d="M404.8,253.28l73.58,73.58,73.58-73.58L805.24,0H956.77L554.15,402.62l-.02-.02a105.576,105.576,0,0,1-151.49,0l-.02.02L0,0H151.52Z" />
            </g>
        </svg>
    </a>
</section>

<section class="about" id="AboutMe">
    <h2 class="container">{{ language.aboutMeTitle }}</h2>

    <div class="container grid-container about-content">

        <div class="column">
            <div class="card">
                <p> {{ language.about.main }} </p>
            </div>

            <div class="card card-button display-pc-flex">
                <a href="#Contact">{{ language.contactTitle }}</a>
                <a href="https://www.linkedin.com/in/juan-cruz-bolatti/" target="_blank">IN</a>
                <a href="https://www.instagram.com/juanc.dev/" target="_blank">IG</a>
                <a href="https://github.com/JuanCruzBolatti" target="_blank">GH</a>
                <a href="/img/cv.pdf" target="_blank">CV</a>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h4 class="subtitle">{{ language.about.study }}</h4>
                <p>{{ language.about.studyText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.about.art }}</h4>
                <p>{{ language.about.artText }}</p>
            </div>
        </div>

        <div class="column">
            <div class="about-image">
                <h4>Juan Cruz <br><span>Bolatti Torcasio</span></h4>
                <img src="/img/yo.webp" alt="Juan Cruz Bolatti Torcasio">
            </div>
        </div>

    </div>
</section>

<section class="container what-i-do" id="WhatIDo">
    <h2>{{ language.whatIDoTitle }}</h2>

    <div class="what-i-do-content">

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.development }}</h4>
                <p>{{ language.whatIDo.developmentMainText }}</p>
                <h5>1. {{ language.whatIDo.interview }}</h5>
                <p>{{ language.whatIDo.interviewText }}</p>
                <h5>2. {{ language.whatIDo.desing }}</h5>
                <p>{{ language.whatIDo.designText }}</p>
                <h5>3. {{ language.whatIDo.resource }}</h5>
                <p>{{ language.whatIDo.resourceText }}</p>
                <h5>4. {{ language.whatIDo.development }}</h5>
                <p>{{ language.whatIDo.developmentText }}</p>
                <h5>5. {{ language.whatIDo.publication }}</h5>
                <p>{{ language.whatIDo.publicationText }}</p>
                <h5>6. {{ language.whatIDo.maintenance }}</h5>
                <p>{{ language.whatIDo.maintenanceText }}</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.desing }}</h4>
                <p>{{ language.whatIDo.designMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.brand }}</h4>
                <p>{{ language.whatIDo.brandMainText }}</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.image }}</h4>
                <p>{{ language.whatIDo.imageMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.drafting }}</h4>
                <p>{{ language.whatIDo.draftingMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.animation }}</h4>
                <p>{{ language.whatIDo.animationMainText }}</p>
            </div>
        </div>

    </div>
</section>

<section class="container knowledge">
    <h2>{{ language.knowledgeTitle }}</h2>

    <div class="knowledge-content">
        <div class="card knowledge-card">
            <h4 class="subtitle">{{language.whatIDo.desing}} {{language.and}} {{language.whatIDo.production}}</h4>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/01.png" alt="Icono Photoshop">
                    </div>

                    <p>Photoshop</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/02.png" alt="Icono Illustrator">
                    </div>

                    <p>Illustrator</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/03.png" alt="Icono Fable">
                    </div>

                    <p>Fable (Animation)</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/04.png" alt="Icono DaVinci Resolve">
                    </div>

                    <p>DaVinciResolve</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/05.png" alt="Icono Audacity">
                    </div>

                    <p>Audacity</p>
                </li>

            </ul>

            <h5>{{language.whatIDo.basic}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/06.png" alt="Icono Premiere">
                    </div>

                    <p>Premiere</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/07.png" alt="Icono After Effects">
                    </div>

                    <p>After Effects</p>
                </li>
            </ul>

        </div>

        <div class="card knowledge-card" id="knowledge-card-color-blue">
            <h4 class="subtitle"> {{ language.pageTitle }}</h4>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/10.png" alt="Icono Javascript">
                    </div>

                    <p>Javascript</p>
                </li>
            </ul>

            <h5></h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/11.png" alt="Icono NodeJs">
                    </div>

                    <p>Node.js</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/12.png" alt="Express">
                    </div>

                    <p>Express</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/13.png" alt="Icono Handlebars">
                    </div>

                    <p>Handlebars</p>
                </li>
            </ul>

            <h5></h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/26.png" alt="Icono XAJAX">
                    </div>

                    <p>Xajax</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/25.png" alt="Icono PHP">
                    </div>

                    <p>PHP</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/24.png" alt="Icono MySQL">
                    </div>

                    <p>MySQL</p>
                </li>
            </ul>

            <h5></h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/14.png" alt="Icono SCSS">
                    </div>

                    <p>SCSS</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/15.png" alt="Icono LottieJs">
                    </div>

                    <p>Lottie.js</p>
                </li>
            </ul>

            <h5>{{language.whatIDo.basic}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/16.png" alt="Icono MongoDb">
                    </div>

                    <p>MongoDB</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/17.png" alt="Icono React">
                    </div>

                    <p>React</p>
                </li>
            </ul>

        </div>

        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="card knowledge-card" id="knowledge-card-color-green">
                <h4 class="subtitle">{{language.whatIDo.programming}} {{language.and}} {{language.whatIDo.tech}}</h4>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/18.png" alt="Icono Github">
                        </div>

                        <p>Github</p>
                    </li>

                    <li>
                        <div>
                            <img src="/img/icons/19.png" alt="Icono Ubuntu">
                        </div>

                        <p>Linux // Ubuntu</p>
                    </li>
                </ul>

                <h5>{{language.whatIDo.basic}}</h5>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/20.png" alt="Icono C">
                        </div>

                        <p>C // C++</p>
                    </li>

                    <li>
                        <div>
                            <img src="/img/icons/21.png" alt="Icono Golang">
                        </div>

                        <p>Golang</p>
                    </li>
                </ul>

            </div>

            <div class="card knowledge-card display-pc" id="knowledge-card-color-red">
                <h4 class="subtitle">{{language.whatIDo.others}}</h4>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/22.png" alt="Haskell">
                        </div>

                        <p>{{language.whatIDo.english}}</p>
                    </li>
                </ul>

                <h5>{{language.whatIDo.basic}}</h5>
                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/23.png" alt="Icono Prolog">
                        </div>

                        <p>{{language.whatIDo.italian}}</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="container work" id="Work">
    <h2>{{ language.workTitle }}</h2>

    <div class="work-content-emergency">
        <h4>{{ language.work.workEmergencyTitle }}</h4>

        <p>{{ language.work.workEmergencyDesc }}</p>

        <p>Esta en desarrollo el apartado y descripción de los proyectos en los que estuve trabajando en el ultimo año,
            como los siguientes:</p>
        <ul>
            <li>
                <h5>Web_ Acercándonos Cultura</h5>
                <p><span>Descripción:</span> Plataforma de lectura de libros digitales, con menú de accesibilidad que permite reproducir texto y personalizar el aspecto, ademas de un menu de uso que permite guardar y subrayar fragmentos de texto, ademas de registrar notas.</p>
                <p><span>Tecnologías:</span> Javascript, Xajax, PHP, MySQL</p>
            </li>

            <li>
                <h5>Web_ Stokear</h5>
                <p><span>Descripción:</span> Página coorporativa para mostrar servicios y productos de seguridad empresarial.</p>
            </li>

            <li>
                <h5>Proyecto_ SO Golang </h5>
                <p><span>Descripción:</span> Simulación de sistema operativo programado en lenguaje Go, que cuenta con sistema kernel, manejo de archivos con filesystem, manejo de memoria directa, y ejecución de instrucciones Assembler</p>
            </li>

            <li>
                <h5>Web_ Moldemat</h5>
                <p><span>Descripción:</span> Página coorporativa para mostrar servicios de matricería de precisión.</p>
            </li>

            <li>
                <h5>Marca_ Nama </h5>
                <p><span>Descripción:</span> Diseño de Logo y Marca para empresa de muebles centrados en la union de la madera y el hierro.</p>
            </li>

            <li>
                <h5>Marca_ Ahche </h5>
                <p><span>Descripción:</span> Diseño de Logo y Marca para editorial, centrada en la interacción del lector con la lectura. </p>
            </li>

            <li>
                <h5>Web_ Cancionero Patrio</h5>
                <p><span>Descripción:</span> Página de presentación del cancionero patrio nacional, con acceso a todas las canciones en diversos formatos.</p>
            </li>

            <li>
                <h5>Web_ Maru</h5>
                <p><span>Descripción:</span> Portafolio personalizado con animaciones y un unico flujo de interacción.</p>
            </li>

            <li>
                <h5>Marca_ Canal de Deportes</h5>
                <p><span>Descripción:</span> Logotipo para canal de streaming enfocado en los juegos olimpicos 2024.</p>
            </li>

            <li>
                <h5>Otros</h5>
                <p>Proyecto en React, Marca de Medioambiente, Portafolio de Fotografía, Página de Estudio de Arquitectura, y Mas!</p>
            </li>
        </ul>
    </div>

    <!--    <div class="work-content">

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Moldemat</h4>
                <p>{{ language.work.description01 }}</p>
                <a href="https://moldemat.com">{{ language.work.visit }}</a>
            </div>
            <img src="/img/web01.webp" alt="Webs de Juan Bolatti">
        </div>

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Nama</h4>
                <p>{{ language.work.description02 }}</p>
                <a href="/brands/nama">{{ language.work.visit }}</a>
            </div>
            <img src="/img/web02.webp" alt="Webs de Juan Bolatti">
        </div>

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Maru</h4>
                <p>{{ language.work.description03 }}</p>
                <a href="https://marubolatti.com.ar">{{ language.work.visit }}</a>
            </div>
            <img src="/img/web03.webp" alt="Webs de Juan Bolatti">
        </div>

        <div class="work-card-small">
            <h4>{{ language.work.smallCardTitle01 }}</h4>
            <p>{{ language.work.smallCardText01 }}</p>
        </div>

        <div class="work-card-small">
            <h4>{{ language.work.smallCardTitle02 }}</h4>
            <p>{{ language.work.smallCardText02 }}</p>
        </div>

        <div class="work-card-small">
            <h4>{{ language.work.smallCardTitle03 }}</h4>
            <p>{{ language.work.smallCardText03 }}</p>
        </div>

    </div> -->
</section>