<section class="container home">
    <p>Juan Cruz Bolatti</p>
    <div>
        <h1>{{ pageTitle }}</h1>
        <h3 class="design-title">Diseño</h3>
        <h3 class="brand-title">Marca</h3>
        <h3 class="image-title">Imagen</h3>
        <h3 class="drafting-title">Redacción</h3>
    </div>
    <div>~</div>
</section>

<section class="about" id="AboutMe">
    <h2 class="container">{{ aboutMeTitle }}</h2>

    <div class="container grid-container about-content">

        <div class="column">
            <div class="card">
                <p> Este es un texto random para ver como se ocupa el lugar: ¡Buenas! Soy un programador enfocado en la fusión creativa de diseño y funcionalidad. Me especializo
                    en páginas web llamativas y accesibles, utilizando diversas herramientas para superar tus
                    expectativas. Además, brindo los servicios necesarios para suplir tus necesidades digitales.</p>
            </div>

            <div class="card card-button">
                <a href="#Contact">Contacto</a>
                <a href="#">LN</a>
                <a href="#">IG</a>
                <a href="#">TW</a>
                <a href="#">CV</a>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <p>Que estudio y que cosas me gustan de la programacion y del area tech.</p>
                <div class="tags">
                    <p>Web</p>
                    <p>PE</p>
                    <p>POO</p>
                    <p>PC</p>
                </div>
            </div>

            <div class="card">
                <p>Cuales son mis intereses en el arte, el hecho de que gane algunos premios</p>
                <div class="tags">
                    <p>Poesía</p>
                    <p>Cuento</p>
                    <p>Relato</p>
                    <p>Ensayo</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="about-image">
                <h4>Juan Cruz <span>Bolatti Torcasio</span></h4>
                <img src="/img/imagen-ejemplo-01.jpg" alt="">
            </div>
        </div>

    </div>
</section>

<section class="container what-i-do" id="WhatIDo">
    <h2>{{ whatIDoTitle }}</h2>

    <div class="what-i-do-content">

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">Desarrollo</h4>
                <p>Un breve texto explicando cuales son los limites de lo que puedo hacer, es decir, puedo manejar
                    usuarios, paginas dinamicas, todo eso.</p>
                <h5>1. Entrevista</h5>
                <p>Aca va el texto explicando que para poder diseñar tengo que entender que es lo que quiere el cliente,
                    pero lindo claramente.</p>
                <h5>2. Diseño</h5>
                <p>Aca va el texto que explica mi proceso de diseño, que busco la coherencia, experiencia de usuario y
                    ritmo, que el cliente puede opinar</p>
                <h5>3. Recursos</h5>
                <p>Aca digo que unos buenos recursos cambian todo, y que bien los puede obtener la empresa como yo.</p>
                <h5>4. Desarrollo</h5>
                <p>Nada, eso, el desarrollo, quizas le llamo programación, es llevar a la vida la cosa</p>
                <h5>5. Publicación</h5>
                <p>Aca digo que ayudo con la publicacion</p>
                <h5>6. Publicación</h5>
                <p>Aca explico que ofrezco el servicio de mantenimiento</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">Diseño</h4>
                <p>Diseño coherente, basado en el ritmo y experiencia de usuario. Abstraigo los conceptos principales de
                    la empresa, veo donde puede destacar, y exploto las ventajas buscando un diseño profesional.</p>
            </div>

            <div class="card">
                <h4 class="subtitle">Marca</h4>
                <p>No soy un especialista pero estudie bastante, con el concepto de la empresa busco un hueco en la
                    industria para explotar las ventajas de la empresa</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">Imagen</h4>
                <p>Puedo sacar fotos, editar fotos, editar videos simples</p>
            </div>

            <div class="card">
                <h4 class="subtitle">Redacción</h4>
                <p>puedo escribir, no quiero, pero puedo</p>
            </div>

            <div class="card">
                <h4 class="subtitle">Animación</h4>
                <p>puedo implementar animaciones o hacer animaciones simples</p>
            </div>
        </div>

    </div>
</section>

<section class="container knowledge">
    <h2>{{ knowledgeTitle }}</h2>

    <div class="knowledge-content">
        <div class="card knowledge-card">
            <h4 class="subtitle">Diseño y Producción</h4>

            <ul>
                <li>
                    <div>
                        <img src="/img/imagen-ejemplo-01.jpg" alt="">
                    </div>

                    <p>Photoshop</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Illustrator</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Fable (Animation)</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>DaVinciResolve</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Audacity</p>
                </li>

            </ul>

            <h5>Basico</h5>

            <ul>
                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Premiere</p>
                </li>


                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>After Effects</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Fusion360</p>
                </li>
            </ul>

            <h5>Aprendiendo</h5>

            <ul>
                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>InDesign</p>
                </li>
            </ul>
        </div>

        <div class="card knowledge-card">
            <h4 class="subtitle">Desarrollo Web</h4>

            <ul>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Javascript</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Node.js</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Express</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Handlebars</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>SCSS</p>
                </li>

                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>Lottie.js</p>
                </li>

            </ul>

            <h5>Basico</h5>

            <ul>
                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>MongoDB</p>
                </li>
            </ul>

            <h5>Aprendiendo</h5>

            <ul>
                <li>
                    <div>
                        <img src="" alt="">
                    </div>

                    <p>React</p>
                </li>
            </ul>
        </div>

        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="card knowledge-card">
                <h4 class="subtitle">Programación y tech</h4>

                <ul>
                    <li>
                        <div>
                            <img src="" alt="">
                        </div>

                        <p>Github</p>
                    </li>

                    <li>
                        <div>
                            <img src="" alt="">
                        </div>

                        <p>Linux // Ubuntu</p>
                    </li>
                </ul>

                <h5>Basico</h5>

                <ul>
                    <li>
                        <div>
                            <img src="" alt="">
                        </div>

                        <p>C // C++</p>
                    </li>
                </ul>

                <h5>Aprendiendo</h5>

                <ul>
                    <li>
                        <div>
                            <img src="" alt="">
                        </div>

                        <p>Golang</p>
                    </li>
                </ul>
            </div>

            <div class="card knowledge-card display-pc">
                <h4 class="subtitle">Otros</h4>

                <h5>Basiquisimo</h5>
                <ul>
                    <li>
                        <div>
                            <img src="" alt="">
                        </div>

                        <p>Haskell</p>
                    </li>

                    <li>
                        <div>
                            <img src="" alt="">
                        </div>

                        <p>Prolog</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="container work" id="Work">
    <h2>{{ workTitle }}</h2>

    <div class="work-content">

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Moldemat</h4>
                <p>Empresa de matricería y moldes</p>
                <a href="#">Visitar</a>
            </div>
            <img src="/img/imagen-ejemplo-01.jpg" alt="">
        </div>

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Grafica</h4>
                <p>Empresa de graficas y flexibles</p>
                <a href="#">Visitar</a>
            </div>
            <img src="/img/imagen-ejemplo-02.jpg" alt="#">
        </div>

        <div class="work-card-large">
            <div class="work-card-content">
                <h4>Maru</h4>
                <p>Portafolio con animaciones integradas</p>
                <a href="#">Visitar</a>
            </div>
            <img src="/img/imagen-ejemplo-03.jpg" alt="">
        </div>

        <div class="work-card-small">
            <h4>Ejemplo de Titulo</h4>
            <p>Este es un gran ejemplo de lo que podria llegar a ser el texto que ocupe este espacio, no? claramente</p>
        </div>

        <div class="work-card-small">
            <h4>Ejemplo de Titulo</h4>
            <p>Este es un gran ejemplo de lo que podria llegar a ser el texto que ocupe este espacio, no? claramente</p>
        </div>

        <div class="work-card-small">
            <h4>Ejemplo de Titulo</h4>
            <p>Este es un gran ejemplo de lo que podria llegar a ser el texto que ocupe este espacio, no? claramente</p>
        </div>

    </div>
</section>

<footer class="contact" id="Contact">
    <h2 class="container">{{ contactTitle }}</h2>
    <div class="contact-content">
        <div>
            <a href="#" id="anchor-ig">Instagram</a>
            <a href="#" id="anchor-tw">Twitter</a>
            <a href="#" id="anchor-yt">Youtube</a>
            <a href="#" id="anchor-fb">Facebook</a>
        </div>

        <div>
            <a href="#" id="anchor-li">LinkedIn</a>
            <a href="#" id="anchor-cp">CodePen</a>
            <a href="#" id="anchor-gh">Github</a>
        </div>

        <div>
            <p>Email:</p>
            <a href="#">juancruzbolatti.t@gmail.com</a>
            <p class="display-pc">Compratir:</p>
            <a class="display-pc" href="#">juancruzbolatti.com</a>
        </div>
    </div>
</footer>