<section class="container home" id="Home">
    <p>Juan Cruz Bolatti</p>
    <div>
        <h1>
            {{{ language.title }}}
        </h1>
    </div>
    <a href="#AboutMe">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 956.77 434.63">
            <defs>
                <style>
                    .cls-1 {
                        fill: #fff;
                    }
                </style>
            </defs>
            <g id="Capa_2" data-name="Capa 2">
                <path class="cls-1"
                    d="M404.8,253.28l73.58,73.58,73.58-73.58L805.24,0H956.77L554.15,402.62l-.02-.02a105.576,105.576,0,0,1-151.49,0l-.02.02L0,0H151.52Z" />
            </g>
        </svg>
    </a>
</section>

<section class="about" id="AboutMe">
    <h2 class="container">{{ language.aboutMeTitle }}</h2>

    <div class="container grid-container about-content">

        <div class="column">
            <div class="card">
                <p> {{ language.about.main }} </p>
            </div>

            <div class="card-button display-pc-flex">
                <a href="#Contact">{{ language.contactTitle }}</a>
                <a href="https://www.linkedin.com/in/juan-cruz-bolatti/" target="_blank">IN</a>
                <a href="https://www.instagram.com/juanc.dev/" target="_blank">IG</a>
                <a href="https://github.com/JuanCruzBolatti" target="_blank">GH</a>
                <a href="/img/cv.pdf" target="_blank">CV</a>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h4 class="subtitle">{{ language.about.study }}</h4>
                <p>{{ language.about.studyText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.about.art }}</h4>
                <p>{{ language.about.artText }}</p>
            </div>
        </div>

        <div class="column">
            <div class="about-image">
                <h4>Juan Cruz <br><span>Bolatti Torcasio</span></h4>
                <img src="/img/yo.webp" alt="Juan Cruz Bolatti Torcasio">
            </div>
        </div>

    </div>
</section>

<section class="container work" id="Work">
    <h2>{{ language.workTitle }}</h2>

    <div class="work-content">
        <div class="work-column">

            <div class="work-card-large">
                <div class="work-card-content">
                    <h4>Acercándonos Cultura</h4>
                    <p>{{ language.work.description.acercandonos }}</p>
                    <a href="/presentation/acercandonos">{{ language.work.visit }}</a>
                </div>
                <img src="/img/home/home-acercandonos.webp" alt="Webs de Juan Bolatti">
            </div>

            <div class="work-card-small violet">
                <h4>{{ language.work.card.advanceTitle }}</h4>
                <p>{{ language.work.card.advanceDesc }}</p>
            </div>

            <div class="work-card-large">
                <div class="work-card-content">
                    <h4>Portafolio Maru</h4>
                    <a href="#">{{ language.work.soon }}</a>
                </div>
                <img src="/img/home/home-maru.webp" alt="Webs de Juan Bolatti">
            </div>

            <div class="work-card-brand ahche">
                <img src="/img/home/home-ahche.webp" alt="Marca de Juan Bolatti">
                <div>
                    <h4>Ahche</h4>
                    <a href="#">{{ language.work.soon }}</a>
                </div>
            </div>

        </div>

        <div class="work-column">

            <div class="work-card-proyect">
                <div class="work-card-content">
                    <h4>SO Golang</h4>
                    <p>{{ language.work.description.golang }}</p>
                    <a href="/presentation/golang">{{ language.work.visit }}</a>
                </div>
                <img src="/img/home/home-golang.webp" alt="Proyecto de Juan Bolatti">
            </div>

            <div class="work-card-small pink">
                <h4>{{ language.work.card.portfolioTitle }}</h4>
                <p>{{ language.work.card.portfolioDesc }}</p>
            </div>

            <div class="work-card-large">
                <div class="work-card-content">
                    <h4>Cancionero Patrio</h4>
                    <a href="/presentation/cancionero">{{ language.work.visit }}</a>
                </div>
                <img src="/img/home/home-cancionero.webp" alt="Webs de Juan Bolatti">
            </div>

            <div class="work-card-brand nama">
                <img src="/img/home/home-nama.webp" alt="Marca de Juan Bolatti">
                <div>
                    <h4>Nama</h4>
                    <a href="/presentation/nama">{{ language.work.visit }}</a>
                </div>
            </div>

            <div class="work-card-proyect">
                <div class="work-card-content">
                    <h4>Rido</h4>
                    <p>Proyecto en React</p>
                    <a href="#">{{ language.work.description.ridoButton }}</a>
                </div>
                <img src="/img/home/home-rido.webp" alt="Proyecto de Juan Bolatti">
            </div>
        </div>

        <div class="work-column">

            <div class="work-card-small blue">
                <h4>{{ language.work.card.incTitle }}</h4>
                <p>{{ language.work.card.incDesc }}</p>
            </div>

            <div class="work-card-large">
                <div class="work-card-content">
                    <h4>Stokear</h4>
                    <a href="/presentation/stokear">{{ language.work.visit }}</a>
                </div>
                <img src="/img/home/home-stokear.webp" alt="Webs de Juan Bolatti">
            </div>

            <div class="work-card-small red">
                <h4>{{ language.work.card.brandTitle }}</h4>
                <p>{{ language.work.card.brandDesc }}</p>
            </div>

            <div class="work-card-large">
                <div class="work-card-content">
                    <h4>Moldemat</h4>
                    <a href="/presentation/moldemat">{{ language.work.visit }}</a>
                </div>
                <img src="/img/home/home-moldemat.webp" alt="Webs de Juan Bolatti">
            </div>

            <div class="work-card-brand deportes">
                <img src="/img/home/home-deportes.webp" alt="Marca de Juan Bolatti">
                <div>
                    <h4>Canal de Deporte</h4>
                    <a href="/presentation/deportes">{{ language.work.visit }}</a>
                </div>
            </div>

        </div>

    </div>

</section>

<section class="container knowledge">
    <h2>{{ language.knowledgeTitle }}</h2>

    <div class="knowledge-content">
        <div class="card knowledge-card">
            <h4 class="subtitle">{{language.whatIDo.desing}} {{language.and}} {{language.whatIDo.production}}</h4>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/01.png" alt="Icono Photoshop">
                    </div>

                    <p>Photoshop</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/02.png" alt="Icono Illustrator">
                    </div>

                    <p>Illustrator</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/03.png" alt="Icono Fable">
                    </div>

                    <p>Rive (Animation)</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/04.png" alt="Icono DaVinci Resolve">
                    </div>

                    <p>DaVinciResolve</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/05.png" alt="Icono Audacity">
                    </div>

                    <p>Audacity</p>
                </li>

            </ul>

            <h5>{{language.whatIDo.basic}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/06.png" alt="Icono Premiere">
                    </div>

                    <p>Premiere</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/07.png" alt="Icono After Effects">
                    </div>

                    <p>After Effects</p>
                </li>
            </ul>

        </div>

        <div class="card knowledge-card" id="knowledge-card-color-blue">
            <h4 class="subtitle"> {{ language.pageTitle }}</h4>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/10.png" alt="Icono Javascript">
                    </div>

                    <p>Javascript</p>
                </li>
            </ul>

            <h5></h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/11.png" alt="Icono NodeJs">
                    </div>

                    <p>Node.js</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/12.png" alt="Express">
                    </div>

                    <p>Express</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/13.png" alt="Icono Handlebars">
                    </div>

                    <p>Handlebars</p>
                </li>
            </ul>

            <h5></h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/26.png" alt="Icono XAJAX">
                    </div>

                    <p>Xajax</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/25.png" alt="Icono PHP">
                    </div>

                    <p>PHP</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/24.png" alt="Icono MySQL">
                    </div>

                    <p>MySQL</p>
                </li>
            </ul>

            <h5></h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/14.png" alt="Icono SCSS">
                    </div>

                    <p>SCSS</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/15.png" alt="Icono LottieJs">
                    </div>

                    <p>Lottie.js</p>
                </li>
            </ul>

            <h5>{{language.whatIDo.basic}}</h5>

            <ul>
                <li>
                    <div>
                        <img src="/img/icons/16.png" alt="Icono MongoDb">
                    </div>

                    <p>MongoDB</p>
                </li>

                <li>
                    <div>
                        <img src="/img/icons/17.png" alt="Icono React">
                    </div>

                    <p>React</p>
                </li>
            </ul>

        </div>

        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="card knowledge-card" id="knowledge-card-color-green">
                <h4 class="subtitle">{{language.whatIDo.programming}} {{language.and}} {{language.whatIDo.tech}}</h4>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/18.png" alt="Icono Github">
                        </div>

                        <p>Github</p>
                    </li>

                    <li>
                        <div>
                            <img src="/img/icons/19.png" alt="Icono Ubuntu">
                        </div>

                        <p>Linux // Ubuntu</p>
                    </li>
                </ul>

                <h5>{{language.whatIDo.basic}}</h5>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/20.png" alt="Icono C">
                        </div>

                        <p>C // C++</p>
                    </li>

                    <li>
                        <div>
                            <img src="/img/icons/21.png" alt="Icono Golang">
                        </div>

                        <p>Golang</p>
                    </li>
                </ul>

            </div>

            <div class="card knowledge-card display-pc" id="knowledge-card-color-red">
                <h4 class="subtitle">{{language.whatIDo.others}}</h4>

                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/22.png" alt="Haskell">
                        </div>

                        <p>{{language.whatIDo.english}}</p>
                    </li>
                </ul>

                <h5>{{language.whatIDo.basic}}</h5>
                <ul>
                    <li>
                        <div>
                            <img src="/img/icons/23.png" alt="Icono Prolog">
                        </div>

                        <p>{{language.whatIDo.italian}}</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="container what-i-do" id="WhatIDo">
    <h2>{{ language.whatIDoTitle }} <span>// Freelancer</span></h2>

    <div class="what-i-do-content">

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.development }}</h4>
                <p>{{ language.whatIDo.developmentMainText }}</p>
                <h5>1. {{ language.whatIDo.interview }}</h5>
                <p>{{ language.whatIDo.interviewText }}</p>
                <h5>2. {{ language.whatIDo.desing }}</h5>
                <p>{{ language.whatIDo.designText }}</p>
                <h5>3. {{ language.whatIDo.resource }}</h5>
                <p>{{ language.whatIDo.resourceText }}</p>
                <h5>4. {{ language.whatIDo.development }}</h5>
                <p>{{ language.whatIDo.developmentText }}</p>
                <h5>5. {{ language.whatIDo.publication }}</h5>
                <p>{{ language.whatIDo.publicationText }}</p>
                <h5>6. {{ language.whatIDo.maintenance }}</h5>
                <p>{{ language.whatIDo.maintenanceText }}</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.desing }}</h4>
                <p>{{ language.whatIDo.designMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.brand }}</h4>
                <p>{{ language.whatIDo.brandMainText }}</p>
            </div>
        </div>

        <div class="what-i-do-column">
            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.image }}</h4>
                <p>{{ language.whatIDo.imageMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.drafting }}</h4>
                <p>{{ language.whatIDo.draftingMainText }}</p>
            </div>

            <div class="card">
                <h4 class="subtitle">{{ language.whatIDo.animation }}</h4>
                <p>{{ language.whatIDo.animationMainText }}</p>
            </div>
        </div>

    </div>
</section>