<section class="hero">
    <div class="hero-image">
        <div>
            {{{ content.hero.contacts }}}
        </div>
    </div>

    <div class="hero-content">
        <h1>{{ content.hero.title }}</h1>
        <h3>{{ content.hero.subtitle }}</h3>
        <p> {{ content.hero.text }} </p>
        <div>
            <a href="#concept">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.945 212.969">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: none;
                                stroke: #fff;
                                stroke-miterlimit: 10;
                                stroke-width: 9px;
                            }
                        </style>
                    </defs>
                    <g id="Capa_2" data-name="Capa 2">
                        <g id="Capa_1-2" data-name="Capa 1">
                            <polyline class="cls-1" points="4.5 0 4.5 202.105 39.763 166.842" />
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="sections-container concept" id="concept">

    <div class="concept-info">
        <div>
            <h4>Enfoques</h4>
            <ul>
                {{{ content.concept.focuses }}}
            </ul>
        </div>

        <div>
            <p> {{ content.concept.year }} </p>
        </div>
    </div>

    <div class="concept-title">
        <div>
            <h3>Concepto</h3>
            <p>{{ content.concept.text }}</p>
        </div>
        <div></div>
    </div>

    <div class="concept-content">
        <p>{{ content.concept.briefDescription }}</p>
        <ul>
            {{{ content.concept.applications }}}
        </ul>
    </div>

</section>

{{#if content.color.isPresent}}
<section class="sections-container color" id="color">

    <div class="color-content">
        <div>
            <h3>Paleta de Color</h3>
            <p>{{ content.color.text }}</p>
        </div>

        <div>

            <div
                style="background: {{ content.color.thirdColor }}; background-position: center center; background-repeat: no-repeat; background-size: cover;">
                <ul>
                    {{{ content.color.thirdDescription }}}
                </ul>
            </div>

            <div
                style="background: {{ content.color.secondaryColor }}; background-position: center center; background-repeat: no-repeat; background-size: cover;">
                <ul>
                    {{{ content.color.secondaryDescription }}}
                </ul>
            </div>

            <div
                style="background: {{ content.color.mainColor }}; background-position: center center; background-repeat: no-repeat; background-size: cover;">
                <ul>
                    {{{ content.color.mainDescription }}}
                </ul>
            </div>

        </div>
    </div>

    <div class="color-texture">
    </div>

</section>
{{/if}}

{{#if content.structure.isPresent}}
<section class="sections-container structure" id="structure">

    <div class="structure-image">
        <p>{{ content.structure.title }}</p>
    </div>

    <div class="structure-content">
        <h3>Estructura</h3>
        <p>{{ content.structure.text }}</p>
    </div>

    <div class="structure-info">
        <div>
            <p>{{ content.structure.info1 }}</p>
            <div></div>
        </div>

        <div>
            <p>{{ content.structure.info2 }}</p>
            <div></div>
        </div>
    </div>

</section>
{{/if}}

{{#if content.font.isPresent}}
<section class="sections-container font" id="font">

    <div>
        <img src="../img/presentations/{{ id }}/font-title01.png" alt="">
        <img class="display-pc-flex" src="../img/presentations/{{ id }}/font-text01.png" alt="">
    </div>

    <div>
        <img src="../img/presentations/{{ id }}/font-title02.png" alt="">
        <img class="display-pc-flex" src="../img/presentations/{{ id }}/font-text02.png" alt="">
    </div>

</section>
{{/if}}

{{#if content.applications.isPresent}}
<section class="sections-container aplication" id="aplication">

    <div class="aplication-banner"></div>

    <div class="aplication-images">
        <div></div>
        <div></div>
        <div></div>
    </div>

</section>
{{/if}}

<div class="sections-container pres-divider"></div>

{{#if content.tech.isPresent}}
<section class="sections-container tech" id="tech">
    <ul>
        {{{ content.tech.function }}}
    </ul>

    <ul>
        {{{ content.tech.style }}}
    </ul>

    <ul>
        {{{ content.tech.other }}}
    </ul>
</section>
{{/if}}