<section class="hero">
    <div class="hero-image">
        <div>
            {{{ content.hero.contacts }}}
        </div>
    </div>

    <div class="hero-content">
        <h1>{{ content.hero.title }}</h1>
        <h3>{{ content.hero.subtitle }}</h3>
        <p> {{ content.hero.text }} </p>
        <div>
            <a href="#concept">V</a>
        </div>
    </div>
</section>

<section class="sections-container concept" id="concept">

    <div class="concept-info">
        <div>
            <div>{{ content.concept.focuses }}</div>
        </div>

        <div>
            <p> {{ content.concept.year }} </p>
        </div>
    </div>

    <div class="concept-title">
        <div>
            <h3>Concepto</h3>
            <p>{{ content.concept.text }}</p>
        </div>
        <div></div>
    </div>

    <div class="concept-content">
        <p>{{ content.concept.briefDescription }}</p>
        <ul>
            {{{ content.concept.applications }}}
        </ul>
    </div>

</section>

<section class="sections-container color" id="color">

    <div class="color-content">
        <div>
            <h3>Paleta de Color</h3>
            <p>{{ content.color.text }}</p>
        </div>

        <div>
            <div>
                <ul>
                    {{{ content.color.secondaryDescription }}}
                </ul>
            </div>

            <div>
                <ul>
                    {{{ content.color.thirdDescription }}}
                </ul>
            </div>

            <div>
                <ul>
                    {{{ content.color.fourthDescription }}}
                </ul>
            </div>
        </div>
    </div>

    <div class="color-texture">
        <ul>
            {{{ content.color.mainDescription }}}
        </ul>
    </div>

</section>

<section class="sections-container structure" id="structure">

    <div class="structure-image">
        titulin
    </div>

    <div class="structure-content">
        <h3>Estructura</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ab quod eligendi consectetur sint ut
            perferendis quis. Eveniet nemo rerum, nam autem nesciunt veniam. Cum sunt voluptate nulla et cumque.</p>
    </div>

    <div class="structure-info">
        <div>
            <p>Data 1</p>
            <div></div>
        </div>

        <div>
            <p>Data 2</p>
            <div></div>
        </div>
    </div>

</section>

<section class="sections-container font" id="font">

    <div>
        <h3>Nunito</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto eum aspernatur accusamus
            tenetur expedita quo, sapiente animi sit deserunt?</p>
    </div>

    <div>
        <h3>Space Mono</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto euetur expedita quo, sapiente
            animi sit deserunt?
    </div>

</section>

<section class="sections-container aplication" id="aplication">

    <div class="aplication-banner"></div>

    <div class="aplication-images">
        <div></div>
        <div></div>
        <div></div>
    </div>

</section>

<div class="sections-container pres-divider"></div>

<section class="sections-container tech" id="tech">
    <ul>
        <li>A</li>
        <li>A</li>
        <li>A</li>
        <li>A</li>
    </ul>

    <ul>
        <li>A</li>
        <li>A</li>
    </ul>

    <ul>
        <li>A</li>
        <li>A</li>
        <li>A</li>
    </ul>
</section>